*.sdf
*.sln
*.suo
bin/
bin64/
arm64/
vs.proj/Debug
vs.proj/Release
vs.proj/x64
vs.proj/ARM64
vs.proj/un-escape.opensdf
vs.proj/un-escape.exp
vs.proj/un-escape.lib
vs.proj/un-escape.vcxproj.user
vs.proj/.vs/
*.aps
*.zip
*.bak
